<!Doctype HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width,height=device-height"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Contact Us</title>
    </head>
    <body>
        <div class="container">
            <h3 class="title">Contact Us.</h3>
            <form action="/" class="form" method="POST">
                <label for="name">Your Name.</label>
                <input type="text" class="input" id="name" name="name" required>
                <label for="email">Please provide your email so we can get back to you.</label>
                <input type="email" class="input" id="email" name="email" required>
                
                <label for="message">How may we help you?</label>
                <textarea id="message" name="message" required></textarea>

                <input type="submit" value="SEND">
            </form>
        </div>
    </body>
</html>